<div class="w-full h-full px-10 lg:px-16 py-10">
  <div *ngIf="data | async as homeView" class="flex flex-col">
    <div class="mb-10 relative">
      <app-movie-tile [movie]="homeView.latest"></app-movie-tile>
    </div>
    <div class="mb-10">
      <div class="flex justify-between mb-4">
        <h2 class="text-white text-lg font-medium">Top Rated</h2>
        <a
          routerLink="../all"
          class="text-accent100 text-base font-medium hover:underline cursor-pointer"
        >
          All movies
        </a>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <app-movie-tile
          *ngFor="let topRated of homeView.top"
          [movie]="topRated"
        ></app-movie-tile>
      </div>
    </div>
    <div>
      <div class="flex justify-between mb-4">
        <h2 class="text-white text-lg font-medium">Popular</h2>
        <a
          routerLink="../all"
          class="text-accent100 text-base font-medium hover:underline cursor-pointer"
        >
          All movies
        </a>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 2xl:grid-cols-3 gap-8"
      >
        <app-movie-tile
          *ngFor="let popular of homeView.popular"
          [movie]="popular"
        ></app-movie-tile>
      </div>
    </div>
  </div>
</div>
