<div class="flex gap-x-4 items-center box-border">
  <form [formGroup]="searchForm" class="relative">
    <input
      formControlName="keyword"
      type="text"
      [attr.aria-expanded]="inputExpanded"
      class="search-input"
    />
    <div
      [attr.aria-expanded]="
        ((searchingStatus | async) === 'loading' ||
          (searchingStatus | async) === 'success') &&
        inputExpanded
      "
      class="search-results absolute right-0 top-[120%] w-[500px] bg-white rounded-2xl"
    >
      <ng-container
        *ngIf="(searchingStatus | async) === 'success'; else loader"
      >
        <div
          *ngIf="snippedOfMovies | async as snippedMovies"
          class="w-full flex flex-col"
        >
          <div
            *ngFor="let movie of snippedMovies | slice : 0 : 4"
            class="w-full search-results-wrapper p-6 gap-6 cursor-pointer hover:bg-gray-100 hover:rounded-2xl"
          >
            <div class="h-[70px] w-[70px]">
              <img
                *ngIf="
                  movie.poster_path || movie.backdrop_path;
                  else imgPlaceholder
                "
                src="{{ IMG_URL }}/{{
                  movie.poster_path ?? movie.backdrop_path
                }}"
                class="w-full h-full object-cover"
              />
              <ng-template #imgPlaceholder>
                <img
                  src="/assets/dummy.png"
                  class="w-full h-full object-cover"
                />
              </ng-template>
            </div>
            <div class="flex flex-col truncate">
              <p class="font-medium text-primary truncate">{{ movie.title }}</p>
              <p class="text-accent100">{{ movie.release_date }}</p>
            </div>
            <div class="flex items-center">
              <p>
                <span class="text-accent100">Vote: </span>
                <span class="font-medium text-primary">{{
                  movie.vote_average
                }}</span>
              </p>
            </div>
          </div>
          <p
            *ngIf="snippedMovies.length > 4"
            class="text-center cursor-pointer text-primary font-medium underline mb-4 hover:text-accent100"
          >
            Show More
          </p>
          <p
            *ngIf="snippedMovies.length === 0"
            class="text-center font-medium p-6"
          >
            No results found
          </p>
        </div>
      </ng-container>
      <ng-template #loader>
        <div class="p-10">
          <p class="text-center">Loading...</p>
        </div>
      </ng-template>
    </div>
  </form>

  <img
    (click)="inputExpanded = !inputExpanded"
    class="cursor-pointer w-[35px] h-[35px]"
    src="/assets/search.png"
  />
</div>
